<div class="header">
  <h2 style="margin-top:5px;">Rock-Paper-Scissors</h2>
  <div class="score-bar">
    <div class="score-group">
      <img src="assets/sprites.png" class="score rock">
      <span>{{count.r}}</span>
    </div>
    <div class="score-group">
      <img src="assets/sprites.png" class="score paper">
      <span>{{count.p}}</span>
    </div>
    <div class="score-group">
      <img src="assets/sprites.png" class="score scissors">
      <span>{{count.s}}</span>
    </div>
  </div>
  <div class="status">
    <div class="modes">
      Mode:
      <mat-radio-group 
      aria-label="Select an option"
      [(ngModel)]="mode"
      (change)="restart()">
        <mat-radio-button value="noise">Noise</mat-radio-button>
        <mat-radio-button value="bounce">Bounce</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="defeated">
      Defeated piece will be:
      <mat-radio-group 
      aria-label="Select an option"
      [(ngModel)]="onDefeat"
      (change)="restart()">
        <mat-radio-button value="replace">Replaced</mat-radio-button>
        <mat-radio-button value="delete">Deleted</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div class="canvas-area">
  <app-canvas
    *ngIf="!restarting" 
    (updateCountEvent)="updateCount($event)"
    (messageEvent)="updateMessage($event)"
    [mode]="mode"
    [onDefeat]="onDefeat"
      #canvascomponent>
  </app-canvas>
</div>
<footer *ngIf="!restarting" >
  <!-- <iframe src="//www.profitabledisplayformat.com/watchnew?key=eef41a07e249370304527fa6abfb2bd1" width="320" height="50" frameborder="0" scrolling="no"></iframe> -->
  <iframe src="//fierysolemncow.com/watchnew?key=eef41a07e249370304527fa6abfb2bd1" width="320" height="50" frameborder="0" scrolling="no"></iframe>
  <p style="font-size:.5em">
      © Bentak Apps, 2022 - <a href="mailto:bentak.apps@gmail.com">bentak.apps@gmail.com</a>
  </p>
 </footer>
